
.btn-order_nav {
    display: flex;
    justify-content: flex-end;
}

.btn-order__background {
    width: 6.0625rem;
    height: 2.1875rem;
    background: #e45028;
    border-radius: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-order__text {
    text-transform: $textTransform;
    text-decoration: none;
    color:$colorWhite;
    font-family: $fontFamily;
    font-size: 0.8125rem;
    font-weight: 500;
}

