
.header {
    padding-top: 0.75rem;
 }

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: $textTransform;
    color: $colorWhite;
    font-family: $fontFamily;
    font-size: 0.8125rem;
    font-weight: 500;

    @include tab {
        display: flex;
        flex-direction: row;
    }
}

.logo__img {
    width: 6.1415rem;
    height: 4.6448rem;
}


.include-nav {
    display: flex;
    align-items: center;
}