.burger-slider {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f9b43b, #e45028, #f9b43b);
    
    @include tab {
        height: 100%;
    }
}

.slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.arrow-left, .arrow-right {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 5%;
}

.arrow__img--left {
    transform: rotate(90deg);
}

.arrow__img--right {
    transform: rotate(270deg);
}

.burger-content {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;

    @include tab {
        flex-direction: column;
        padding: 6.26rem;
    }

    @include phones {
        padding: 1.25rem 0;

    }
}

.slider-right, .slider-left {
    flex: 1;
}

.slider-left {
    @include tab {
        display: flex;
    }
}

.slider-right {
    @include tab {
        text-align: center;
    }
}

.slider__row {
    display: flex;
    align-items: baseline;

    @include tab {
        justify-content: center;
    }
}

.slider__price {
    display: flex;
    align-items: baseline;
    margin-right: 1.875rem;
}

.title-price {
    color: #e35028;
}

.burger__block {
    width: 80%;
}

.burger__img {
    width: 100%;
    height: 100%;
}

.buger-composition-bg {
    width: 5.625rem;
    height: 5.625rem;
    background: #e35028;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover .dropdown-menu {
        display: flex;
    }
}

.burger-composition {
    width: 2.859rem;
    height: 2.789rem;
}

.burger__svg {
    width: 2.859rem;
    height: 2.789rem;
}

.title-composit {
    font-size: 0.875rem;
}

.burger-kkal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 4.375rem;
}

.burger-kkal {
    position: relative;
}

.burger-kkal__block {
    height: 3.75rem;
}

.buger-kkal__title--posit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__desc {
    margin-top: 3.5rem;
    color: #fff;
    font-family: $fontFamily;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.title-price--lower-case {
    font-size: 1.875rem;
}

