.fixed-menu {
    position: fixed;
    right: 3.125rem;
    top: 5.9375rem;

    @include tab {
        display: none;
    }
}

.fixed-menu__item--active {
    .fixed-menu__link {
    border:  0.0625rem solid#fff;
    }
}

.fixed-menu__link {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid transparent;
    position: relative;
    margin-bottom: 0.1875rem;

    &::before {
        content: "";
        width: 0.375rem;
        height: 0.375rem;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
