.fixed-menu {
    position: fixed;
    right: 50px;
    top: 95px;
}

.fixed-menu__item--active {
    .fixed-menu__link {
    border:  1px solid#fff;
    }
}

.fixed-menu__link {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
    margin-bottom: 3px;

    &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
