
.footer {
    position: absolute;
    left: 0;
    bottom: 0;

    min-height: 3.75rem;
    width: 100%;
    background: #121212;
    
} 

.footer_container {
    display: flex;
    flex-wrap: nowrap;
    min-height: 3.75rem;

    @include tab {
        flex-direction: row;
     }

    @include phones {
       flex-direction: column;
       align-items: center;
    }
  
}

.contacts__img {
    width: 0.6875rem;
    height: 0.6875rem;

}