

.general-page {
    background: url(../img/video-bg.png) center center /cover no-repeat;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;

    @include tab {
        height: 100vh;
    }
}

.texture {
    background: url(../img/texture.png);
    max-width: 100%;
    height: 100vh;

    @include tab {
        height: 100%;
    }

}

.section-general-page {
    height: 77%;
}