$colorWhite: #fff;

.nav__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.nav__item {
    list-style: none;    
    &::after {
        content: "•";
        margin-right: 15px;
        margin-left: 15px;
    }
    &::after:last-child {
        content: none;
    }
    
}
/*
.nav__item::after:last-child {
    content: "";
}
*/
.nav__link {
    color: $colorWhite;
}
